*{
  margin: 0;
  padding: 0;
  border:0;
}

body{
    font-family: 'Libre Baskerville', serif;
}

/* Header Navigation Bar */

header{
    display: block;
}

#logo{
    display: block;
    float: left;
    height: 80px;
    width: auto;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#navmenu{
  font-size: 135%;
  list-style-type: none;
  padding-left: 50px;
}

#navmenu li{
  float: right;
  margin-right: 30px;
  margin-top: 45px;
  font-family: 'Ubuntu';
}

#navmenu a{
  text-decoration: none;
  color: inherit;
}

#navmenu a:hover{
    color: rgb(12, 131, 72);
}

#navmenu .active{
    color: rgb(12, 131, 72);
}

/* NavBar For Smart Phones */

@media screen and (max-width: 767px){
    #navmenu{
        clear: left;
        float: left;
        padding: 0;
        margin-left: 30px;
        font-size: 130%;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 414px){
    #navmenu{
        clear: left;
        float: left;
        padding: 0;
        font-size: 100%;
        padding-bottom: 15px;
    }

    #logo{
        height: 80px;
        width: auto;
    }
}

@media screen and (max-width: 320px){
    #navmenu{
        font-size: 90%;
    }
}

/* End of Header Navigation Bar */


/* Landing Page */

.hero-container{
    padding-bottom: 20px;
}

.hero-image img{
    background-position: center;
    width: 100%;
    height: auto;
}

.hero-container h1{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    color: #000000;
    margin: 50px;
}

.things-to-do{
    margin-top: 30px;
    background-color: rgb(236, 236, 236);
    padding: 30px;
}

.things-to-do h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 10px 10px 30px 10px;
    font-size: 50px;
    font-weight: 200;
}

.things-cont {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.things-cont img{
    padding: 5px;
    height: 199px;
}

.city-info{
    background-color: rgb(60, 143, 102);
    padding: 30px;
}

.city-info h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 10px 10px 30px 10px;
    font-size: 50px;
    font-weight: 200;
}

.history{
    background-color: rgb(173, 155, 48);
    padding: 30px;
}

.history h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 10px 10px 30px 10px;
    font-size: 50px;
    font-weight: 200;
}

/* End of Landing Page */


/*  PLACE HOLDER  */

.content{
    margin: 0 auto;
    display: inline-block;
    border: 1px, solid, rgb(255, 255, 255);
    width: 100%;
    height: 500px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}


/* Footer */

footer{
    background-color: rgb(80, 80, 80);
}

.contact-info{
    background-color: rgb(80, 80, 80);
    font-family: 'Ubuntu';
    padding-top: 30px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-bottom: 30px;
}
.contact-info h3{
    font-family: 'Ubuntu';
    font-weight: 200;
}

.contact-info p{
    margin-bottom: 30px;
    color: rgb(212, 212, 212);
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 230%;
    margin: 20px;
    padding: 10px;
    color: rgb(190, 188, 54);
}

.partners{
    text-align: center;
}

.partners h3{
    font-weight: 200;
    margin-top: 70px;
    font-family: 'Ubuntu';
    text-align: center;
    color: rgb(153, 153, 153);
}

.companies{
    padding: 0 30px 30px 30px;
}

.companies p{
    display: inline;
}

.companies img{
    height: 80px;
    padding: 30px;
}

.mailing-list{
    font-size: 25px;
    text-align: center;
}

.mailing-list a{
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    font-family: 'Ubuntu';
    text-decoration: none;
    color: rgb(190, 188, 54);
}

.mailing-list i{
    color: rgb(255, 255, 255);
    padding-left: 15px;
}

.mailing-list a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(190, 188, 54);
    border: none;
}


/* End of Footer */