*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

body{
    font-family: 'Libre Baskerville', serif;
}

/* Header - Navigation Bar */

header{
    display: block;
}

#logo{
    display: block;
    float: left;
    height: 80px;
    width: auto;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#navmenu{
  font-size: 135%;
  font-weight: 500;
  list-style-type: none;
  padding-left: 50px;
}

#navmenu li{
  float: right;
  margin-right: 30px;
  margin-top: 45px;
  font-family: 'Ubuntu';
}

#navmenu a{
  text-decoration: none;
  color: inherit;
}

#navmenu a:hover{
    color: rgb(12, 131, 72);
}

#navmenu .active{
    color: rgb(12, 131, 72);
}

/* End of Header - Navigation Bar */


/* Landing Page */

.relative{
    position: relative;
}

.hero-image img{
    background-position: center;
    width: 100%;
    height: auto;
}

.hero-container h1{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    color: #000000;
    margin: 50px;
}

/* Landing Page - Things to Do  */

.things-to-do{
    background-color: rgb(236, 236, 236);
    padding-bottom: 40px;
}

.things-to-do h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 15px 0 15px;
}

.column img{
    vertical-align: middle;
    width: 100%;
}

.column h2{
    padding: 8px;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(131, 26, 12);
}

.column h2:hover{
    background-color: rgb(173, 155, 48);
}

.column a{
    text-decoration: none;
}

.row-margin{
    margin-bottom: 30px;
}

/* Landing Page - Things to Do - END */


/* Landing Page - City Info */

.city-info{
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
}

.city-info h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

.row2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column2{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 15px 0 15px;
}

.column2 img{
    vertical-align: middle;
    width: 100%;
}

.column2 h2{
    padding: 15px;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 131, 72);
}

.column2 h2:hover{
    background-color: rgb(173, 155, 48);
}

.column2 a{
    text-decoration: none;
}

/* Landing Page - City Info - END */

/* Landing Page - History */

.history{
    background-color: rgba(173, 155, 48, .5);
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.history h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

/* End of Landing Page & Landing Page - History - END */


/*  PLACE HOLDER  */

.content{
    margin: 0 auto;
    display: inline-block;
    border: 1px, solid, rgb(255, 255, 255);
    width: 100%;
    height: 500px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}


/* Footer */

footer{
    background-color: rgb(80, 80, 80);
}

.contact-info{
    background-color: rgb(80, 80, 80);
    font-family: 'Ubuntu';
    padding-top: 30px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-bottom: 30px;
}
.contact-info h3{
    font-family: 'Ubuntu';
    font-weight: 200;
}

.contact-info p{
    margin-bottom: 30px;
    color: rgb(212, 212, 212);
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    color: rgb(190, 188, 54);
}

.partners{
    text-align: center;
}

.partners h3{
    font-weight: 200;
    margin-top: 70px;
    font-family: 'Ubuntu';
    text-align: center;
    color: rgb(153, 153, 153);
}

.companies{
    padding: 0 30px 30px 30px;
}

.companies p{
    display: inline;
}

.companies img{
    height: 180px;
    padding: 30px;
}

.mailing-list{
    font-size: 25px;
    text-align: center;
}

.mailing-list a{
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    font-family: 'Ubuntu';
    text-decoration: none;
    color: rgb(190, 188, 54);
}

.mailing-list i{
    color: rgb(255, 255, 255);
    padding-left: 15px;
}

.mailing-list a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(190, 188, 54);
    border: none;
}


/* End of Footer */

/* Smart Phones */

@media screen and (max-width: 767px){

    #logo{
        height: auto;
        width: 90%;
        padding: 5px;
        margin-right: 15px;
    }

    #navmenu{
        clear: left;
        float: left;
        padding: 0;
        margin-left: 30px;
        font-size: 130%;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 414px){
    #navmenu{
        clear: left;
        float: left;
        padding: 0;
        font-size: 100%;
        padding-bottom: 15px;
    }

    #logo{
        height: 80px;
        width: auto;
    }
}

@media screen and (max-width: 320px){
    #navmenu{
        font-size: 90%;
    }
}