*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', 'Libre Baskerville', serif;
}

/* Header - Logo & Navigation Bar */

header{
    display: block;
}

#logo{
    display: block;
    float: left;
    height: 80px;
    width: auto;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#navmenu{
  font-size: 135%;
  font-weight: 500;
  list-style-type: none;
  padding-left: 50px;
}

#navmenu li{
  float: right;
  margin-right: 30px;
  margin-top: 45px;
  font-family: 'Ubuntu';
}

#navmenu a{
  text-decoration: none;
  color: inherit;
}

#navmenu a:hover{
    color: rgb(12, 131, 72);
    text-decoration: underline;
}

#navmenu .active{
    color: rgb(12, 131, 72);
    text-decoration: underline;
}

/* End of Header - Logo & Navigation Bar */


/* Footer */

footer{
    float: left;
    background-color: rgb(80, 80, 80);
}

.contact-info{
    background-color: rgb(80, 80, 80);
    font-family: 'Ubuntu';
    padding-top: 30px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-bottom: 30px;
}
.contact-info h3{
    font-family: 'Ubuntu';
    font-weight: 200;
}

.contact-info p{
    margin-bottom: 30px;
    color: rgb(212, 212, 212);
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    color: rgb(190, 188, 54);
}

.social-networks i:hover{
    color: rgb(255, 255, 255);
}

.partners h3{
    text-align: center;
    font-weight: 200;
    margin-top: 50px;
    font-family: 'Ubuntu';
    color: rgb(153, 153, 153);
    padding: 20px;
}

.row3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column3{
    flex: 20%;
    max-width: 20%;
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
}

.column3 img{
    vertical-align: middle;
    width: 100%;
}

.mailing-list{
    text-align: center;
}

.remove{
    display: none;
}

.mailing-list a{
    font-size: 25px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    font-family: 'Ubuntu';
    text-decoration: none;
    color: rgb(190, 188, 54);
}

.mailing-list i{
    color: rgb(255, 255, 255);
    padding-left: 15px;
}

.mailing-list a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(190, 188, 54);
    border: none;
}

/* End of Footer */


/* Landing Page */

.relative{
    position: relative;
}

.hero-image img{
    background-position: center;
    width: 100%;
    height: auto;
}

.hero-container h1{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    color: #000000;
    margin: 50px;
}

.things-landing{
    float: left;
    background-color: rgb(236, 236, 236);
    padding-bottom: 40px;
}

.things-landing h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
}

.column img{
    vertical-align: middle;
    width: 100%;
}

.column h2{
    padding: 8px;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(131, 26, 12);
}

.column h2:hover{
    background-color: rgb(173, 155, 48);
}

.column a{
    text-decoration: none;
}

.row-margin{
    margin-bottom: 30px;
}

.city-landing{
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
}

.city-landing h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

.row2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column2{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.column2 h2{
    padding: 15px;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 131, 72);
    margin: 5px;
}

.column2 h2:hover{
    background-color: rgb(173, 155, 48);
}

.column2 a{
    text-decoration: none;
}

/* End of Landing Page  */


/* Things To Do */

.title{
    float: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu';
}

.title h1{
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

.ttd-section{
    float: center;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-family: 'Ubuntu';
    background-color: rgb(255, 255, 255);
}

.ttd-section img{
    margin: 0 auto;
    width: 100%;
    
}

.ttd-section h2{
    padding: 40px;
    font-size: 40px;
    font-weight: 300;
    text-decoration: underline;
}

.ttd-section p{
    margin: 0 auto;
    width: 70%;
    padding-bottom: 80px;
    font-size: 18px;
    font-weight: 200;
}

/* End of Things To Do */


/* City Info Page */

.info{
    width: 100%;
}
.text-center{
    margin: 0 auto;
    text-align: center;
}
.red-bg{
    padding: 10px;
    background-color: red;
}

.white-font{
    color: white;
}

.grey-bg{
    margin: 0 auto;
    width: 70%;
    background-color: rgb(236, 236, 236);
}

.info-2{
    padding: 10px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.width-70{
    width: 70%;
}

.covid{
    margin-bottom: 20px;
}

/* End of City Info Page */


/* Mailing List Page */

.form-section {
    clear: both;
    background: url("https://picturesmania.com/0-0/11934_chicago-ch.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form{
    font-family: 'Ubuntu';
    margin-top: 150px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 400px;
    position: absolute;
    left: 20%;
    padding: 30px;
}

.signup-form> h2{
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.text-input {
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 25px;
    margin: 5px 0px 20px 0px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(190, 188, 54);
}

.join-button{
    font-family: 'Ubuntu';
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(12, 131, 72);
    color: rgb(255, 255, 255);
    display: block;
}

.join-button:hover {
    background-color: rgb(190, 188, 54);
    color: rgb(255, 255, 255);
}

/* End of Mailing List Page */


/* Smart Phones */

@media screen and (max-width: 1025px){

    .row{
        width: 100%;
    }

    .column{
        padding: 0 10px;
    }

    .column2{
        flex: 50%;
        max-width: 50%;
        padding: 15px;
    }

    .title h1{
        font-size: 40px;
    }

    .ttd-section{
        width: 100%;
    }

    .ttd-section img{
        width: 100%;
    }

    .ttd-section h2{
        padding: 40px;
        font-size: 30px;
    }

    .ttd-section p{
        width: 90%;
    }
}

@media screen and (max-width: 770px){

    #logo{
        height: auto;
        width: 90%;
        padding: 5px;
        margin-right: 15px;
    }

    #navmenu{
        clear: left;
        float: left;
        padding: 0;
        margin-left: 30px;
        font-size: 130%;
        padding-bottom: 15px;
    }
    

    .column{
        flex: 50%;
        max-width: 100%;
        padding: 15px;
    }

    .column3{
        flex: 50%;
        max-width: 100%;
        padding: 15px;
    }

    .wayne{
        padding: 0 150px;
    }

    .ttd-section p{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px){

    #navmenu{
        clear: left;
        float: left;
        padding: 0;
        font-size: 100%;
        padding-bottom: 15px;
    }

    #logo{
        height: auto;
        width: 90%;
        margin-left: 15px;
    }

    .hero-container h1{
        padding: 15px;
        font-size: 20px;
        margin: auto;
    }

    .things-landing{
        margin-top: 10px;
        padding: 0;
    }

    .things-landing h1{
        padding: 10px 10px 0 10px;
        font-size: 30px;
        font-weight: 200;
    }

    .column{
        flex: 100%;
        max-width: 100%;
        padding: 15px;
        margin: 0;
    }

    .city-info h1{
        padding: 10px;
        font-size: 30px;
        font-weight: 200;
    }

    .column2{
        flex: 100%;
        max-width: 100%;
        padding: 5px;
    }

    .mailing-list a{
        font-size: 20px;
    }

    .wayne{
        padding: 0 80px;
    }

    .signup-form> h2{
        font-size: 15px;
    }

    .signup-form{
        margin-top: 50px;
        max-width: 300px;
        left: 3%;
    }
}

@media screen and (max-width: 360px){
    #navmenu{
        font-size: 90%;
    }

    .mailing-list a{
        font-size: 15px;
        }  
}


/*  PLACE HOLDER  */

.content{
    margin: 0 auto;
    display: inline-block;
    border: 1px, solid, rgb(255, 255, 255);
    width: 100%;
    height: 500px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}