*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', 'Libre Baskerville', serif;
}

/* Header - Logo & Navigation Bar - learnt fix navbar from https://www.w3schools.com/howto/howto_css_fixed_menu.asp */ 

.head-nav{
    width: 100%;
    height: auto;
    position: fixed; 
    top: 0;
    background-color: rgba(255, 255, 255,.8);
    border-bottom: 5px solid rgb(0, 0, 0);
}

#logo{
    display: block;
    float: left;
    height: 80px;
    width: auto;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#navmenu{
  font-size: 135%;
  font-weight: 500;
  list-style-type: none;
  padding-left: 50px;
}

#navmenu li{
  float: right;
  margin-right: 30px;
  margin-top: 45px;
  font-family: 'Ubuntu';
}

#navmenu a{
  text-decoration: none;
  color: inherit;
}

#navmenu a:hover{
    color: rgb(12, 131, 72);
    text-decoration: underline;
}

#navmenu .active{
    color: rgb(12, 131, 72);
    text-decoration: underline;
}

/* End of Header - Logo & Navigation Bar */

/* Footer */

footer{
    float: left;
    background-color: rgb(80, 80, 80);
}

.contact-info{
    background-color: rgb(80, 80, 80);
    font-family: 'Ubuntu';
    padding-top: 30px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-bottom: 30px;
}
.contact-info h3{
    font-family: 'Ubuntu';
    font-weight: 200;
}

.contact-info p{
    margin-bottom: 30px;
    color: rgb(212, 212, 212);
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    color: rgb(202, 176, 58);
}

.social-networks i:hover{
    color: rgb(255, 255, 255);
}

.partners h3{
    text-align: center;
    font-weight: 200;
    margin-top: 50px;
    font-family: 'Ubuntu';
    color: rgb(153, 153, 153);
    padding: 20px;
}

.row3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column3{
    flex: 20%;
    max-width: 20%;
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
}

.column3 img{
    vertical-align: middle;
    width: 100%;
}

/* Form layout used from Code Institue Exercise "Love Running" & https://imgbb.com used to host image */

.form > form{
    margin: auto;
    text-align: center;
}

.signup-form{
    text-align: center;
    font-family: 'Ubuntu';
    color: rgb(255, 255, 255);
    margin: 5px;
}

.signup-form> h2{
    font-weight: 300;
    padding: 4px;
    margin: 4px;
    color: rgb(255, 255, 255);
}

.text-input{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 300px;
    min-width: 200px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    margin: 4px;
}

.fa-paper-plane:before{
    padding: 7px;
}

.text-input:hover {
    border-color: rgb(202, 176, 58);
}

.join-button{
    font-family: 'Ubuntu';
    padding: 7px;
    text-align: center;
    font-size: 100%;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.join-button:hover {
    background-color: rgb(202, 176, 58);
    color: rgb(255, 255, 255);
}

/* End of Footer */

/* Scroll up feature */

.scroll-top{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(175, 49, 33);
    font-size: 30px;
}

.scroll-up i{
    text-decoration: none;
    color: inherit;
}

/* Banner */

.banner{
    width: 100%;
    height: auto;
}

.banner img{
    width: 100%;
    height: auto;
}

.banner-title{
    width: 100%;
}

.banner-title h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 40px;
    font-weight: 200;
}

/* Page Title's */

.title{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu';
}

.title h1{
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

/* Landing Page */

.relative{
    position: relative;
}

.things-landing{
    float: left;
    background-color: rgb(236, 236, 236);
    padding-bottom: 40px;
}

.things-landing h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Flex learnt from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp */

.column{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
}

.column img{
    vertical-align: middle;
    width: 100%;
}

.column h2{
    padding: 8px;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 92);
}

.column h2:hover{
    background-color: rgb(0, 0, 0);
}

.bat-hover h2:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(250, 207, 16);
    font-weight: 400;
}

.column a{
    text-decoration: none;
}

.row-margin{
    margin-bottom: 30px;
}

.city-landing{
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
}

.city-landing h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

/* Flex learnt from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp */


.row2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column2{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.column2 h2{
    padding: 15px;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 131, 72);
    margin: 5px;
}

.column2 h2:hover{
    background-color: rgb(0, 0, 0);
}

.column2 a{
    text-decoration: none;
}

/* End of Landing Page  */

/* Gotham Map Preview - https://www.w3schools.com/jsref/met_his_back.asp */

.g-preview{
    background-color: rgb(54, 54, 54);
}

.goth-map{
    width: 50%; /* Change size for image and buttons here */
    margin-left: auto;
    margin-right: auto;
}

.map-cont{
    width: 100%;
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
}

.map-cont img{
    vertical-align: middle;
    width: 100%;
}

.map-cont button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 8px;
    font-family: 'Ubuntu';
    font-size: 20px;
}

.map-cont a{
    text-decoration: none;
}

.map-cont h4{
    width: 100%;
    text-align: center;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
}

/* Things To Do */

/* Flex learnt from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp */

.thg-section1{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 92);
    width: 100%;
    margin-bottom: 30px;
}

.thg-section1 img{
    width: 100%;
    float: left;
}

.thg-section1 > div{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.thg-txt1{
    margin-top: auto;
    margin-bottom: auto;
}

.thg-txt1 h2{
    text-decoration: underline;
    padding: 10px;
}

.thg-txt1 p{
    padding: 20px;
}

.thg-section2{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin-bottom: 30px;
}

.thg-section2 img{
    width: 100%;
    float: right;
}

.thg-section2 > div{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.thg-txt2{
    margin-top: auto;
    margin-bottom: auto;
}

.thg-txt2 h2{
    text-decoration: underline;
    padding: 10px;
}

.thg-txt2 p{
    padding: 20px;
}

.thg-section3{
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);;
    background-color: rgb(250, 207, 16);
    width: 100%;
    margin-bottom: 30px;
}

.thg-section3 img{
    width: 100%;
    float: left;
}

.thg-section3 > div{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.thg-txt1 a{
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}

.thg-txt2 a{
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}

/* End of Things To Do */

/* City Info Page */

.info{
    width: 100%;
}

.text-center{
    margin: 0 auto;
    text-align: center;
}

.grey-bg{
    margin: 0 auto;
    width: 70%;
    background-color: rgb(236, 236, 236);
}

.info-2{
    padding: 20px;
    margin-bottom: 20px;
}

.info-2 h2{
    padding-bottom: 10px;
}

.width-70{
    width: 70%;
}

.covid{
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(175, 49, 33);
}

.covid h2{
    text-decoration: underline;
}

p a{
    text-decoration: none;
    color: rgb(175, 49, 33);
}

/* End of City Info Page */

/* History Page*/

.his-intro{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    margin-bottom: 40px;
}

.his-intro h2, .his-intro p{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.his-intro h2{
    text-decoration: underline;
    padding: 10px;
}

.his-intro p{
    padding: 20px;
}

/* Flex learnt from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp */

.his-section1{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 92);
    width: 100%;
    margin-bottom: 40px;
}

.his-section1 img{
    width: 100%;
    float: left;
}

.his-section1 > div{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.row-rev{
    display: flex;
    flex-direction: row-reverse;
}

.his-txt1{
    margin-top: auto;
    margin-bottom: auto;
}

.his-txt1 h2{
    text-decoration: underline;
    padding: 10px;
}

.his-txt1 p{
    padding: 50px;
}

.bw-bg{
    background-color: rgb(0, 0, 0);
}

.wht-fnt{
    color: rgb(255, 255, 255);
}

.row4{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column4{
    flex: 50%;
    max-width: 50%;
}

.column4 img{
    vertical-align: middle;
    width: 100%;
}

.yel-bg{
    background-color: rgb(250, 207, 16);
}

.mrg-top{
    margin-top: 20px;
}

/* End of History Page */

/* Smart Phones */

@media screen and (max-width: 1450px){
    
    .his-txt1, .his-intro{
        font-size: 14px;
    }

}

@media screen and (max-width: 1320px){
    
    .his-txt1 p{
        padding: 20px;
    }

    .his-intro p{
        width: 85%;
    }

}

@media screen and (max-width: 1270px){
    
    .thg-section1 > div{
        font-size: 12px;
    }

    .thg-section2 > div{
        font-size: 12px;
    }

    .thg-section3 > div{
        font-size: 12px;
    }

    .goth-map{
        width: 90%;
    }

    .dis-none{
        display: none;
    }

    .column4{
        flex: 100%;
        max-width: 100%;
    }

    .his-intro, .his-section1{
        margin-bottom: 0;
    }

}

@media screen and (max-width: 1025px){

    .row{
        width: 100%;
    }

    .column{
        padding: 0 10px;
    }

    .column2{
        flex: 50%;
        max-width: 50%;
        padding: 15px;
    }

    .title h1{
        font-size: 40px;
    }

    .covid{
        margin-top: 0;
        margin-bottom: 0;
    }

    .info-2{
        margin-bottom: 0;
    }

    .scroll-top{
        margin-top: 20px;
    }

    .grey-bg{
        width: 100%;
    }

    .width-70{
        width: 90%;
    }

    .thg-section1, .thg-section2, .thg-section3{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .thg-section2{
        flex-direction: column-reverse;
    }

    .thg-txt1 p, .thg-txt2 p{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }

    .thg-txt1 h2, .thg-txt2 h2{
        padding-top: 40px;
    }

}

@media screen and (max-width: 770px){

    #logo{
        height: auto;
        width: 100%;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    #navmenu{
        text-align: center;
    }

    #navmenu li{
        text-align: center;
        padding: 5px 10px;
        margin: 0;
    }

    .banner-title h1{
        font-size: 25px;
    }

    .column{
        flex: 50%;
        max-width: 100%;
        padding: 15px;
    }

    .column3{
        flex: 50%;
        max-width: 100%;
        padding: 15px;
    }

    .wayne{
        padding: 0 150px;
    }

    .goth-map{
        width: 100%;
    }

}

@media screen and (max-width: 700px){

    .his-section1{
        flex-direction: column;
    }

    .his-intro{
        padding: 0;
    }

    .his-intro p{
        width: 100%;
        }

    .thg-txt1 p, .thg-txt2 p{
        padding: 20px;
    }

}

@media screen and (max-width: 500px){

    #navmenu{
        font-size: 90%;
    }

    .things-landing{
        margin-top: 10px;
        padding: 0;
    }

    .things-landing h1{
        padding: 10px 10px 0 10px;
        font-size: 30px;
        font-weight: 200;
    }

    .column{
        flex: 100%;
        max-width: 100%;
        padding: 15px;
        margin: 0;
    }

    .city-info h1{
        padding: 10px;
        font-size: 30px;
        font-weight: 200;
    }

    .column2{
        flex: 100%;
        max-width: 100%;
        padding: 5px;
    }

    .wayne{
        padding: 0 80px;
    }

    .covid{
        margin-bottom: 0;
        margin-top: 0;
    }
    .grey-bg{
        width: 100%;
    }

    .width-70{
        width: 100%;
    }

    .info-2{
        margin-bottom: 0;
    }

    .text-input{
        width: 250px;
    }

    .dis-none2{
        display: none;
    }

}

@media screen and (max-width: 375px){

    .banner-title h1{
        font-size: 20px;
    }

    .mailing-list a{
        font-size: 15px;
    }
    
    .title h1{
        font-size: 30px;
    }

}
