*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', 'Libre Baskerville', serif;
}

/* Header - Logo & Navigation Bar */

header{
    display: block;
}

#logo{
    display: block;
    float: left;
    height: 80px;
    width: auto;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#navmenu{
  font-size: 135%;
  font-weight: 500;
  list-style-type: none;
  padding-left: 50px;
}

#navmenu li{
  float: right;
  margin-right: 30px;
  margin-top: 45px;
  font-family: 'Ubuntu';
}

#navmenu a{
  text-decoration: none;
  color: inherit;
}

#navmenu a:hover{
    color: rgb(12, 131, 72);
    text-decoration: underline;
}

#navmenu .active{
    color: rgb(12, 131, 72);
    text-decoration: underline;
}

/* End of Header - Logo & Navigation Bar */


/* Footer */

footer{
    float: left;
    background-color: rgb(80, 80, 80);
}

.contact-info{
    background-color: rgb(80, 80, 80);
    font-family: 'Ubuntu';
    padding-top: 30px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-bottom: 30px;
}
.contact-info h3{
    font-family: 'Ubuntu';
    font-weight: 200;
}

.contact-info p{
    margin-bottom: 30px;
    color: rgb(212, 212, 212);
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    color: rgb(202, 176, 58);
}

.social-networks i:hover{
    color: rgb(255, 255, 255);
}

.partners h3{
    text-align: center;
    font-weight: 200;
    margin-top: 50px;
    font-family: 'Ubuntu';
    color: rgb(153, 153, 153);
    padding: 20px;
}

.row3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column3{
    flex: 20%;
    max-width: 20%;
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
}

.column3 img{
    vertical-align: middle;
    width: 100%;
}

.mailing-list{
    text-align: center;
}

.remove{
    display: none;
}

.mailing-list a{
    font-size: 25px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    font-family: 'Ubuntu';
    text-decoration: none;
    color: rgb(202, 176, 58);
}

.mailing-list i{
    color: rgb(255, 255, 255);
    padding-left: 15px;
}

.mailing-list a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(202, 176, 58);
    border: none;
}

/* End of Footer */

/* Scroll up feature */

.scroll-top{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(175, 49, 33);
    font-size: 30px;
}

.scroll-up i{
    text-decoration: none;
    color: inherit;
}


/* Landing Page */

.relative{
    position: relative;
}

.hero-image img{
    background-position: center;
    width: 100%;
    height: auto;
}

.hero-container h1{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    color: #000000;
    margin: 50px;
}

.things-landing{
    float: left;
    background-color: rgb(236, 236, 236);
    padding-bottom: 40px;
}

.things-landing h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Flex learnt from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp */

.column{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
}

.column img{
    vertical-align: middle;
    width: 100%;
}

.column h2{
    padding: 8px;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 92);
}

.column h2:hover{
    background-color: rgb(0, 0, 0);
}

.bat-hover h2:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(250, 207, 16);
    font-weight: 400;
}

.column a{
    text-decoration: none;
}

.row-margin{
    margin-bottom: 30px;
}

.city-landing{
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
}

.city-landing h1{
    text-align: center;
    font-family: 'Ubuntu';
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}

/* Flex learnt from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp */


.row2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column2{
    flex: 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.column2 h2{
    padding: 15px;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 131, 72);
    margin: 5px;
}

.column2 h2:hover{
    background-color: rgb(0, 0, 0);
}

.column2 a{
    text-decoration: none;
}

/* End of Landing Page  */

/* Page Title */

.title{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu';
}

.title h1{
    padding: 40px;
    font-size: 50px;
    font-weight: 200;
}


/* Things To Do */

/* Flex learnt from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp */

.thg-section1{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 92);
    width: 100%;
    margin-bottom: 30px;
}

.thg-section1 img{
    width: 100%;
    float: left;
}

.thg-section1 > div{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.thg-txt1{
    margin-top: auto;
    margin-bottom: auto;
}

.thg-txt1 h2{
    text-decoration: underline;
    padding: 10px;
}

.thg-txt1 p{
    padding: 20px;
}

.thg-section2{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin-bottom: 30px;
}

.thg-section2 img{
    width: 100%;
    float: right;
}

.thg-section2 > div{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.thg-txt2{
    margin-top: auto;
    margin-bottom: auto;
}

.thg-txt2 h2{
    text-decoration: underline;
    padding: 10px;
}

.thg-txt2 p{
    padding: 20px;
}

.thg-section3{
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);;
    background-color: rgb(250, 207, 16);
    width: 100%;
    margin-bottom: 30px;
}

.thg-section3 img{
    width: 100%;
    float: left;
}

.thg-section3 > div{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.thg-txt1 a{
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}

.thg-txt2 a{
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}

/* End of Things To Do */


/* City Info Page */

.info{
    width: 100%;
}
.text-center{
    margin: 0 auto;
    text-align: center;
}

.grey-bg{
    margin: 0 auto;
    width: 70%;
    background-color: rgb(236, 236, 236);
}

.info-2{
    padding: 20px;
    margin-bottom: 20px;
}

.info-2 h2{
    padding-bottom: 10px;
}

.width-70{
    width: 70%;
}

.covid{
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(175, 49, 33);
}

.covid h2{
    text-decoration: underline;
}

p a{
    text-decoration: none;
    color: rgb(175, 49, 33);
}

/* End of City Info Page */

/* History Page*/

.his-intro{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    margin-bottom: 40px;
}

.his-intro h2, .his-intro p{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.his-intro h2{
    text-decoration: underline;
    padding: 10px;
}

.his-intro p{
    padding: 20px;
}

/* Flex learnt from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp */

.his-section1{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 92);
    width: 100%;
    margin-bottom: 40px;
}

.his-section1 img{
    width: 100%;
    float: left;
}

.his-section1 > div{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.row-rev{
    display: flex;
    flex-direction: row-reverse;
}

.his-txt1{
    margin-top: auto;
    margin-bottom: auto;
}

.his-txt1 h2{
    text-decoration: underline;
    padding: 10px;
}

.his-txt1 p{
    padding: 50px;
}

.bw-bg{
    background-color: rgb(0, 0, 0);
}

.wht-fnt{
    color: rgb(255, 255, 255);
}

.row4{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.column4{
    flex: 50%;
    max-width: 50%;
}

.column4 img{
    vertical-align: middle;
    width: 100%;
}

.yel-bg{
    background-color: rgb(250, 207, 16);
}

.mrg-top{
    margin-top: 20px;
}

/* End of History Page */


/* Mailing List Page */

/* Form layout used from Code Institue Exercise "Love Running" & https://imgbb.com used to host image */

.form-section {
    clear: both;
    background: url("https://i.ibb.co/Lk6LZgc/high-rise-buildings-view-at-night-time-1822685.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form{
    font-family: 'Ubuntu';
    margin-top: 150px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 400px;
    position: absolute;
    left: 20%;
    padding: 30px;
}

.signup-form> h2{
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.text-input {
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 25px;
    margin: 5px 0px 20px 0px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(202, 176, 58);
}

.join-button{
    font-family: 'Ubuntu';
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(12, 131, 72);
    color: rgb(255, 255, 255);
    display: block;
}

.join-button:hover {
    background-color: rgb(202, 176, 58);
    color: rgb(255, 255, 255);
}

/* End of Mailing List Page */


/* Smart Phones */

@media screen and (max-width: 1450px){
    
    .his-txt1, .his-intro{
        font-size: 14px;
    }

}

@media screen and (max-width: 1320px){
    
    .his-txt1 p{
        padding: 20px;
    }

    .his-intro p{
        width: 85%;
        }

}


@media screen and (max-width: 1270px){
    
    .thg-section1 > div{
        font-size: 12px;
    }

    .thg-section2 > div{
        font-size: 12px;
    }

    .thg-section3 > div{
        font-size: 12px;
    }

    .dis-none{
        display: none;
    }

    .column4{
        flex: 100%;
        max-width: 100%;
    }

    .his-intro, .his-section1{
        margin-bottom: 0;
    }

}

@media screen and (max-width: 1025px){

    .row{
        width: 100%;
    }

    .column{
        padding: 0 10px;
    }

    .column2{
        flex: 50%;
        max-width: 50%;
        padding: 15px;
    }

    .title h1{
        font-size: 40px;
    }

    .covid{
        margin-top: 0;
        margin-bottom: 0;
    }

    .info-2{
        margin-bottom: 0;
    }

    .scroll-top{
        margin-top: 20px;
    }

    .grey-bg{
        width: 100%;
    }

    .width-70{
        width: 90%;
    }

    .thg-section1, .thg-section2, .thg-section3{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .thg-section2{
        flex-direction: column-reverse;
    }

    .thg-txt1 p, .thg-txt2 p{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }

    .thg-txt1 h2, .thg-txt2 h2{
        padding-top: 40px;
    }

}

@media screen and (max-width: 770px){

    #logo{
        height: auto;
        width: 90%;
        padding: 5px;
        margin-right: 15px;
    }

    #navmenu{
        clear: left;
        float: left;
        padding: 0;
        margin-left: 30px;
        font-size: 130%;
        padding-bottom: 15px;
    }
    

    .column{
        flex: 50%;
        max-width: 100%;
        padding: 15px;
    }

    .column3{
        flex: 50%;
        max-width: 100%;
        padding: 15px;
    }

    .wayne{
        padding: 0 150px;
    }

}

@media screen and (max-width: 700px){

    .his-section1{
        flex-direction: column;
    }

    .his-intro{
        padding: 0;
    }

    .his-intro p{
        width: 100%;
        }

    .thg-txt1 p, .thg-txt2 p{
        padding: 20px;
    }

}

@media screen and (max-width: 500px){

    #navmenu{
        clear: left;
        float: left;
        padding: 0;
        font-size: 100%;
        padding-bottom: 15px;
    }

    #logo{
        height: auto;
        width: 90%;
        margin-left: 15px;
    }

    .hero-container h1{
        padding: 15px;
        font-size: 20px;
        margin: auto;
    }

    .things-landing{
        margin-top: 10px;
        padding: 0;
    }

    .things-landing h1{
        padding: 10px 10px 0 10px;
        font-size: 30px;
        font-weight: 200;
    }

    .column{
        flex: 100%;
        max-width: 100%;
        padding: 15px;
        margin: 0;
    }

    .city-info h1{
        padding: 10px;
        font-size: 30px;
        font-weight: 200;
    }

    .column2{
        flex: 100%;
        max-width: 100%;
        padding: 5px;
    }

    .mailing-list a{
        font-size: 20px;
    }

    .wayne{
        padding: 0 80px;
    }

    .signup-form> h2{
        font-size: 15px;
    }

    .signup-form{
        margin-top: 50px;
        max-width: 300px;
        left: 3%;
    }

    .covid{
        margin-bottom: 0;
        margin-top: 0;
    }
    .grey-bg{
        width: 100%;
    }

    .width-70{
        width: 100%;
    }

    .info-2{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 360px){
    #navmenu{
        font-size: 90%;
    }

    .mailing-list a{
        font-size: 15px;
    }
    
    .title h1{
        font-size: 30px;
    }
}
